*
{
	box-sizing: border-box;	
}
html
{
	font-size: 15px;
}
body
{
	font-family: 'Roboto', sans-serif;
	font-weight: 300 ;
	color: #fff;
}
body.abierto
{	
	overflow: hidden;		/*para que no haga scroll el menú abierto*/

}

footer
{

}
footer .prefooter
{
	position: relative;      /*explicar*/
	bottom: -0.5rem;
}
footer .pie
{
	color: #fff;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #604c24;
	text-align: center;
	font-size: 0.8rem;
}

.cabecera
{
	padding-top: 1rem;
	padding-bottom: 1rem;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 999;
}
.cabecera .container
{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
/*.banner-h .container2
{
	display: flex;
}*/
.cabecera .link-logo
{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	z-index: 2;   
}


.cabecera .link-logo .logo
{
	width: 5.33rem;
	height: auto;
}
.cabecera .hamb
{
	color: rgba(255, 255, 255,1);
	font-size: 2rem;
	position: relative;
	z-index: 2;
}
.cabecera .carrito
{
	color: rgba(255, 255, 255,1);
	font-size: 2rem;
	position: relative;
	z-index: 2;
}

.cabecera .menu
{
	transition: all 0.5s ease;      /* hace el movimiento */
	transform: translateX(100%);  /*para que se esconda sobre todo el ancho de la pantalla hacia la derecha*/
	position: fixed;
	top:0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #c0c0a8;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	z-index: 1;    
}
.cabecera .menu.abierto
{
	transform: translateX(0); 
}

.cabecera .menu a 
{
	margin: 1rem 0;
	color: rgba(255, 255, 255,1);
	font-size: 1.3rem;
	font-weight: 400 ;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 0.13rem;
	word-spacing: 0.13rem;
}
.cabecera .search            /*para que no se vea en el menu*/
{
	color: rgba(255, 255, 255,1);
	font-size: 2rem;
	z-index: 2;
}
.cabecera .search.abierto
{
	display: contents;      /*agregado desde el inspector,para que no se vea en menu. contents:*/
}

a
{
	display: inline-block;
}
section
{
	position: relative;
}
.container
{
	width: 100%;
	padding: 0 1rem;
	margin: 0 auto;
}

.container2                       /*es del buscador*/
{
	width: 100%;
	top: 5%;
	position: fixed;              /*para que pueda buscar estando en cualquier parte del index*/
	padding: 0 1rem;        
	margin: 0 auto;
	padding-top:2.8rem;
	z-index: 3;
}
.container3
{
	width: 100%;
	text-align: center;
	position: absolute;
	padding: 0 1rem;
	margin: 0 auto;
	padding-top:2.8rem;
	top: 50%;
	transform: translateY(-50%);
/*	padding-top:2.5rem;*/ 
}

.fila
{
	margin-left: -1rem;
	margin-right: -1rem;
	display: flex;
	flex-wrap: wrap;
}

.columna
{
	padding-left: 1rem;
	padding-right: 1rem;
	
}
.columna-mb-100
{
	width: 100%;
}
.columna-mb-50
{
	width: 50%;
	
}
.columna-mb-35
{
	width: 35%;
}
.columna-mb-33
{
	width: 33.33%;
}

/* mis cambios alejadnro lindo */
.trans {
	background: rgba( 0, 0, 0);

  }
 .padding-buscador
 {
 	padding-top: 6rem;
 	position: absolute;
 	display: none;
 	
 }

.sin-padding
{
	padding-right: 0;
	padding-left: 0;
}
.con-padding{
	padding-top: 1rem;
	padding-right: 1rem;
	padding-left: 1rem;

}
.sin-paddingAyB                /*arriba y abajo*/
{
	margin-top: 0.6rem;
	margin-bottom: 0;
	background-color: #b99245;
    font-weight: 400;
    font-size: 1.2rem;
    color: hsl(0deg 0% 13% / 90%);     /*sacado del inspector, color con transparencia*/
}

.columna .tope
{
	padding-top: 1rem;	
}
.contenedor-cuadrado
{
	width: 100%;
	padding-bottom: 100%;
	position: relative;
	overflow: hidden;
	background-color: #0D0D0D;
	
}


/*SECCIÓN VENTAS*/

.shop-content            /*donde van a estar todas las cards*/
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin-top: 1rem;
	margin-left: 1rem;
	margin-right: 1rem;
	color: #987352;
}
.card                     /*div de cada card*/
{
	max-width: 50%;
	margin: auto;
	text-align: center;
}
.card > img				/*averiguar.... >*/
{
	width: 90%;			/*para que se vea la separación entre cards*/
	height: 33%;
}
.price
{
	color: #000;
	font-size: 1.2rem;
}
.nombre					/*color del nombre de los productos*/
{
	color: #987352;

}
.card button            /*estilos del boton de comprar*/
{
	padding: 0.33rem 0.33rem;
	font-size: 1rem;
	font-weight: 600;           /*grueso de la letra*/
	text-decoration: none;
	text-align: center;
	border: 0.13rem solid #fff; /*propiedad solid*/  
	border-radius: 1rem;
	border-width: 0.13rem;
	border-style: solid;
	background-color: #f2c45a;
    border-color: #c0c0a8;
    color: #4e3a3b;
}
/*.contenedor-cuadrado .imagen0
{
	padding-top: 1.5rem;
}*/
.contenedor-cuadrado .contenido-cuadrado
{
	position: absolute;
	text-align: center;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
	top: 50%;
	transform: translateY(-50%);             /*para que se posicione bien al centro*/
	color: #fff;
}

/*MODAL CARRITO*/       
.modal_container
{
	width: 80%;
	margin: 0 5%; /*0 arriba y abajo 10% a los costados*/            
	max-height: 88vh;
	color: #fff;
	background-color: #dac69e;
	/*display: flex;*/
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	position: fixed;
	overflow: auto;				/*para que se pueda deslizar*/
	z-index: 1000;
	top:12vh ;                      /*calcular*/

}
.modal_container::-webkit-scrollbar     /*para que no haga scroll horizontal*/
{
	display: none;
}

.modal_header
{
	display: flex;
	justify-content: space-around;
	color: #fff;
	width: 100%;
}
.modal_header_title
{
	justify-self: start;
}

.modal_container > .modal_content 
{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 80%;
	margin: 2rem;
}
.modal_container > div > img 
{
	height: 4rem;
	width: 4rem;
}

.total_content
{
	font-size: 1.3rem;
	text-align: center;
	color: #fff;
	padding-bottom: 2rem;
	padding-top: 2rem;
}
.manito
{
	cursor: pointer;	
}
.cantidad_carrito
{
	background-color: red;
	color: #fff;
	border-radius: 50%;
	font-size: 1rem;
	padding: 0.2rem;
	top: 1rem;
	right: 0;
	position: absolute;
	display: none;
}











/*.contenedor-cuadrado .imagen0
{
	padding-top: 1.5rem;
}*/

/*.cakes .container
{
	display: flex;
    align-items: justify;
    justify-content: space-around;
}*/
.contenedor-cuadrado .contenido-cuadrado-buscador
{
	position: absolute;
	top: 40%;
    transform: translateX(50%); 
}

.contenedor-cuadrado .contenido-cuadrado-cake    /*para que se muestre el icono location*/
{
	position: absolute;
    text-align: justify;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    top: 90%;
    transform: translateY(-90%);
    color: #fff;
}

.cakes .location_icon                          /*estilos del icono*/
{
    color: rgba(255, 255, 255,1);
    font-size: 1.5rem;
    position: relative;
    z-index: 2;
}
.cakes .modal_location                              /*donde se va a mostrar la info*/
{
	transition: all 0.5s ease; 
	/*transform: translateY(160%);     */
	transform: translateY(2%);
	width: 80%;
	margin: 0 5%; /*0 arriba y abajo 5% a los costados*/            
	color: #fff;
	/*background-color: rgba(218,198,158,0.9);*/
	background-color: rgba(0,0,0,0.2);
	overflow: auto;
	display: flex;				/*para que se pueda deslizar*/
	z-index: 0.9;				/*para que no se muestre ensima de menu*/
	top:42vh ; 
	padding-left: 0; 
	border-radius: 1rem;                    
}
/*.cakes .modal_location .abierto
{
	transform: translateY(2%);
}*/



/*colocar a la columna que se genera en js para el detalle*/
.ocultarDetalleLocal{
	display: none;
}



.mapa											/*esto es un div, modifico sus propiedades*/
{
	position: relative;
	padding-bottom: 40%;    /*para que no sea tan alto, entre el contenido y sus bordes*/
	width: 100%;
				
}
.mapa iframe							/*es para modificar el contenido(ya el mapa en si)*/
{
	position: absolute;    /*su padre directo tiene que ser relativo,no ocupa un espacio en el flujo de contenido*/
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	filter: grayscale(0.5);

}

.contenedor-cuadrado img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.filtro_color
{
	opacity: 0.75;
	filter: grayscale(0.5);
}
.filtro_color2
{
	opacity: 0.99;
	filter: sepia(0.1);
}
.filtro_color3
{
	filter: grayscale(0.2);	
}
.filtro_color4                  /*para cuando abre el buscador, obtenido del inspector*/
{
	filter: brightness(0.5);
}
.section
{
	padding-top: 4rem;
	padding-bottom: 4rem;
}
.justificar-texto
{
	text-align: justify;
}

.titulos
{
	margin-top: center;
	margin-bottom: center;
	text-align: center;
	font-size: 2rem;
	
}
.banner-home
{
	width: 100%;
	height: 100%;
	
}
.btn
{
	padding: 0.33rem 0.33rem;
	font-size: 1rem;
	font-weight: 600;
	text-decoration: none;
	text-align: center;
	border: 0.13rem solid #fff;
	border-radius: 1rem;
	border-width: 0.13rem;
	border-style: solid;
}
.btn-buscador-detalle
{
	display: flex;

}
.btn.boton-color
{
	background-color: #b99245;
    border-color: #987352;
    color: #fff;		/*color de la letra*/
	
}
.btn.boton-transparente
{
	background-color: transparent;
	border-color:#c0c0a8;
	color: #fff;			/*color de la letra*/
	
}


.importante{
	font-style: italic;
}
.centrado {                /*del "sobre mi"*/
	text-align: center;
}

#banner
{
	/*height: 100vh;     /*para que siempre ocupe el alto del dispositivo*/
	height: 98vh;
}
#banner .banner-home
{
	width: 100%;
	height: 100%;
	display: block;
	object-fit: cover;   /*para que ocupe el espacio del dispositivo*/ 
	object-position: center;
}
#banner .container
{
	position: absolute;
	top: 80%;
	left: 0;
	right: 0;
	transform: translateY(-80%);
}
/*#bannercake
{
	height: 65vh;     /*para que siempre ocupe el alto del dispositivo*/
}
/*#banner .container2
{
	position: absolute;
	top: 60%;
	left: 0;
	right: 0;
	transform: translateY(-60%);
}*/


#bannercake .container h1
{
	font-size: 2.66rem;
	color: #fff;
	margin: 0;	
	text-align: center;
}
#banner .container h1
{
	font-size: 2.66rem;
	color: #fff;
	margin: 0;
}
#banner .container p
{
	font-size: 1.33rem;
	color: #fff ;
	line-height: 1;	

}

#galeria
{
	background-color:#c0c0a8;  
}
#galeria .titulos
{
	color: #fff;
}

#nosotros
{
	background-color:#c0c0a8;  
}
#tips .titulos
{
	color:#987352;
}
#cake
{
	background-color:#f9f9f1;  
}
#infoColections
{
	color: #000;
}
#contenedorParrafos
{
	color: #000;
}
#tips
{
	background-color:#f9f9f1;  
}
#tips .container p
{
	color: #987352;
	text-align: center;	
}
#venta
{
	background-color:#f9f9f1;  
}
#venta .titulos
{
	color:#987352;
}
#venta .container p
{
	color: #987352;
	text-align: center;	
}
#informacion
{
	background-color:#fff;  
}




  		

@media (min-with:768) {
	.container2 {
		width: 100%;
	}
	
}
@media (min-with:992) {
	.container2 {
		width: 100%;
	}
	
}
@media (min-width:768px)
{
	.container
	{
		width: 100%;
	}
}

@media (min-width:992px)
{
	.container
		{
			width: 100%;
		}
}
@media (min-width:1200px)
{
	.container2
	{
		width: 100%;
	}
	.container
	{
		width: 100%;
	}
	
	.columna-100
	{
		width: 100%;
	}
	.columna-50
	{
		width: 50%;
	}
	.columna-35
	{
		width: 35%;
	}
	.columna-33
	{
		width: 33.33%;
	}


}
